<nav id="sidebar" class="bg-dark">
  <div class="sidebar-header bg-danger">
    <h6 class="mb-0"><i class="fas fa-dollar-sign text-yellow"></i> MooMoney Bank</h6>
  </div>

  <ul class="list-unstyled components">
    <p>Informações Gerais</p>
    <li>
      <a href="#">Saldo</a>
    </li>
    <li>
      <a href="#">Extrato</a>
    </li>
    <li>
      <a href="#">Transferência</a>
    </li>
    <li>
      <a href="#">Comprar MooMoney</a>
    </li>
    <li>
      <a href="#">Fale conosco</a>
    </li>
  </ul>
</nav>
