<header class="banner-moodev">
  <div class="container-fluid">
    <div class="row d-flex justify-content-center align-items-center flex-column-reverse flex-sm-row">
      <div class="col-sm-6 text-center mt-2 mt-sm-0">
        <div>
          <button class="btn btn-outline-danger btn-lg">Por que na MooDev?</button>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <%= image_tag "carrinho.png", class: 'img-fluid' %>
        </div>
      </div>
      </div>
    </div>
  </div>
</header>
