<header class="banner-moodev">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 p-0 d-flex justify-content-around align-items-center">
        <div>
          <button class="btn btn-outline-danger btn-block btn-lg ml-5">Por que na MooDev?</button>
        </div>

        <div>
          <%= image_tag "carrinho.png", class: ' banner-image img-fluid' %>
        </div>
      </div>
    </div>
  </div>
</header>
