<div class="row text-center">
  <div class="col-sm-12 px-0 px-sm-2">
    <div class="course-card mb-5">

        <% colors = ['background-color: #373F51;','background-color: #ECB5D3;','background-color: #FFDE17;','background-color: #008DD5;'] %>
        <div class="d-flex justify-content-around align-items-center mt-5">
          <% @subjects.each do |subject| %>
              <div class="subjects-box d-flex justify-content-center align-items-center" style="<%= colors[rand(0..3)] %>">
                <p class="text-white mb-0"><%= subject.title %></p>
              </div>
          <% end %>
        </div>

      <% if current_user.admin? %>
        <%= render 'form', subject: @subject, course: @course %>
      <% end %>
    </div>
  </div>
</div>
