<div class="row">
  <div class="col-sm-12 px-0 px-sm-2">
    <h2>Olá <%= current_user.first_name.capitalize %>!</h2>
    <p>Está é a matéria de <%= @subject.title %>, vamos aprender muitas coisas legais! Não deixe de praticar e fazer os quiz para ganhar posições no ranking!</p>
  </div>
</div>


