.dropdown-custom {
  position: relative;
  display: inline-block;
}

.dropdown-content-custom {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.navbar-moodev {
  background: linear-gradient(55deg, #6b87ff, #00dfdf);
}

.dropbtn {
  cursor: pointer;
}

.dropdown-menu > a:hover {
  background-color: $blue;
  color: white;
  font-weight: bold;
}

.logo {
  height: 70px;
}

.nav-a > a {
  margin: 0 !important;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  color: white;
}

.dropdown-menu {
  padding: 0.5rem 0 0 0;
}

.dropdown-divider-color {
  color: $yellow;
  font-weight: bold;
  border-top: 1px solid $blue ;
  margin: 0;
  padding: 0.25rem 1.5rem;
  background-color: $darkblue;
}

.text-yellow {
  color: $yellow !important;
  font-weight: bold;
}

.show-custom {
  display:block;
}
