// Place all the styles related to the Blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog-card {
  background-color: white;
  border-radius: 7px;
  overflow: hidden;
  transition: ease 1s;
}

.blog-card:hover {
  box-shadow: 17px 20px 15px 0 rgba(46,61,73,0.3);
}

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 95%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
    animation: arrow-movement 2s ease-in-out infinite;
}
.arrow-second {
    animation: arrow-movement 2s 1s ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}

// Animation
@keyframes arrow-movement {
    0% {
        opacity: 0;
        top: 90%;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
