// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.banner-moodev {
  min-height: calc(100vh - 102px);
}

.form-container {
  background-color: $darkblue;
  color: white;
  padding: 2rem;
  border-radius: 8px;
}

.horizontal-line {
  display:block;
  width:100%;
  border-top: 3px solid $yellow;
}

.course-txt-header {
  font-size: 1.25rem;
  font-family: $my-font;
  color: white;
  font-weight: bold;
  text-shadow: -1px 0 $blue, 0 1px $darkblue, 1px 0 $darkblue, 0 -1px black;
}

.course-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 7px 10px 20px 0 rgba(46,61,73,0.15);
  overflow: hidden;
}

@media (max-width: 576px) {
  .course-card {
    border-radius: 0;
  }
}

.bg-grey {
  background-color: #EFF2F4;
}

.course-card > p {
  // margin-top: 0;
  color: #4b5b68;
}


.bg-darkblue {
  background-color: $darkblue;
}

.text-darkblue {
  color: $darkblue;
}
