// Place all the styles related to the Transitions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.transictions-overflow-box {
  overflow: scroll;
  max-height: 200px;
}

@media print {
  html body * {
    visibility: hidden;
  }
  #divToPrint, #divToPrint * {
    visibility: visible;
  }
  #divToPrint {
    position: absolute;
    left: 0;
    top: 0;
  }
}
